html
	head
	title Camera Scrape Item
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous", rel='stylesheet')
	//-link(href="/scripts/game_base.less", rel="stylesheet")
	//- link(href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.6/css/tabulator.min.css" rel="stylesheet")


	body
		h1 #{title}
		div.return #[a(href="/items") Return to item list]
		each item in items	
			table(style="width:600px; height:240px; float:left; border:1px dotted #999999;")
				tr
					td(width="40%") #[img(src="/images/#{item.ebay_id}_thumb.jpg")]
					td(width="60%")
						ul
							li $#{item.price_dollars} asking price
							li $#{item.avg_price} avg price
							li  #{item.off}% off
							if item.soldtime
								li(style="text-decoration:line-through") #[a(href="#{item.link}" target="_blank") #{item.title}]
							else
								li  #[a(href="#{item.link}" target="_blank") #{item.title}]
							li  #{item.brand} #{item.name}
					


script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
//-script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.6/js/tabulator.min.js")
//- script(src="/scripts/soldview.js")