html
	head
	title Camera Scrape Item
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous", rel='stylesheet')
	//-link(href="/scripts/game_base.less", rel="stylesheet")
	//- link(href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.6/css/tabulator.min.css" rel="stylesheet")


	body
		h1 #{title}
		div #[a(href="/deals") All] | #[a(href="/deals?brand=nikon") Nikon] | #[a(href="/deals?brand=canon") Canon] | #[a(href="/deals?brand=fuji") Fuji] | #[a(href="/deals?brand=sony") Sony]
		div #[a(href="/deals?days=1") 1 Day] | #[a(href="/deals?days=3") 3 Days]
		div #[a(href="/deals?feedid=2") Lenses] | #[a(href="/deals?feedid=3") Bodies]
		div.return 
		table.itemTable
			tr
				th Age
				th Price
				th % Off
				th Item
				th Posted
				th ID
				th CAT
			each item in items
				tr
					td #{item.hours_old}
					td $#{item.price_dollars}
					td #{item.off}%
					if item.soldtime
						td(style="text-decoration:line-through") #[a(href="#{item.link}" target="_blank") #{item.title}]
					else
						td #[a(href="#{item.link}" target="_blank") #{item.title}]
					td #{item.date_pub}
					td #[a(href="/catalog/save/#{item.id}" target="_blank") #{item.id}]
					if item.catalog
						td x
					else
						tx 


script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
//-script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.4.6/js/tabulator.min.js")
//- script(src="/scripts/soldview.js")